* {
  margin: 0;
  padding: 0; }

body {
  background-color: #5956564d; }
  body a {
    text-decoration: none;
    color: #000000; }

/*Nombre areas*/
header {
  grid-area: titulo; }

nav {
  grid-area: menuu; }

article {
  grid-area: producto; }

section {
  grid-area: ingresos; }

footer {
  grid-area: piepagina; }

#arriba {
  display: flex;
  justify-content: center; }

header h1 a:hover {
  color: #5B0E2D; }

#menu {
  text-align: center;
  border-style: solid;
  border-color: black;
  padding: 1.5%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFA781; }
  #menu li {
    display: inline-block; }
  #menu a {
    display: block;
    padding: 15px 20px;
    color: #5B0E2D;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; }
    #menu a:hover {
      color: #ffffff;
      transition: all .2s; }

/*Submenu*/
.submenu {
  position: absolute;
  background-color: #FFA781;
  text-align: start;
  width: 15%;
  display: none; }
  .submenu li:hover .submenu {
    display: block; }
  .submenu li a {
    display: block;
    padding: 10%;
    color: #5B0E2D;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; }

section {
  padding: 1%;
  margin-bottom: 1.3%;
  text-align: center;
  color: #5B0E2D;
  font-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.mainflex article img:hover {
  border: solid #000000; }

.piePagina {
  text-align: center;
  border-style: solid;
  border-color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFA781;
  color: #5B0E2D; }
  .piePagina .redes-flex {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    margin-bottom: 1%;
    margin: auto; }
  .piePagina a {
    color: #5B0E2D;
    text-decoration: none; }
    .piePagina a:hover {
      color: #ffffff; }
  .piePagina nav h5 {
    color: #5B0E2D; }

/*Contacto*/
.formulario {
  color: #5B0E2D;
  font-size: 90%; }

.mapa {
  display: flex;
  justify-content: center;
  padding: 1%;
  margin-bottom: 1%; }

.mensaje {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  margin-bottom: 1%; }

.productosmain {
  display: flex;
  justify-content: space-evenly;
  font-size: 120%; }
  .productosmain img {
    margin-left: 5%; }

footer {
  background-color: #5956564d; }
  footer a:hover {
    color: #5B0E2D; }

/*************  Smartphone  *******************/
@media (max-width: 480px) {
  header h1 {
    width: 100%;
    font-size: 100%; }
  #menu {
    width: 500px;
    font-size: 50%; }
  article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.3%;
    margin-bottom: 1.3%; }
  .formulario {
    display: flex;
    justify-content: center;
    align-items: center; }
  div iframe {
    display: none; }
  .mensajes {
    padding: 6%; }
    .mensajes .mensaje {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
  .preguntas, .mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6%; }
  .piePagina {
    font-size: 50%; } }

/*************  Tablet  *******************/
@media (min-width: 481px) and (max-width: 1023px) {
  header h1 {
    width: 100%;
    font-size: 100%; }
  #menu {
    width: 100%;
    font-size: 100%; }
  article {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center; }
  .mainflex {
    display: flex;
    justify-content: space-around;
    text-align: center; }
  .mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  #mapa {
    width: 100%;
    height: 500px; }
  .piePagina {
    font-size: 80%;
    width: 100%; } }

/*************  Desktop  *******************/
@media (min-width: 1024px) {
  #menu {
    width: 75%;
    font-size: 130%; }
  article {
    text-align: center; }
  .piePagina {
    font-size: 130%; } }

.redes-twitter {
  color: #000000; }
  .redes-twitter:hover {
    color: #1da1f2; }

.redes-facebook {
  color: #000000; }
  .redes-facebook:hover {
    color: #405de6; }

.redes-instagram {
  color: #000000; }
  .redes-instagram:hover {
    color: #e1306c; }

.redes-whatsapp {
  color: #000000; }
  .redes-whatsapp:hover {
    color: #25d366; }

/************* MIXINS *************/
main h2 {
  color: #5B0E2D;
  font-size: 130%; }

main p {
  color: #000000;
  font-size: 100%; }

/************* EXTENDS *************/
.preguntas, .mensajes {
  border: solid #000000;
  background: #5956564d;
  margin-top: 3%; }

.mensajes {
  margin-bottom: 5%; }
